<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>
<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail">
        <% if(pizza.is_new) { %>
        <span style="position: absolute" class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span style="position: absolute" class="label label-success">Популярна</span>
        <% } %>
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">





        <!--&lt;!&ndash; Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір &ndash;&gt;-->
        <!--<button class="btn btn-primary buy-big">Купити велику</button>-->
        <div class="caption"><h3><%= pizza.title %></h3>
            <p class="remark"><%= pizza.type %></p>

            <p style="height: 100px"><%= getIngredientsArray(pizza).join(", ") %></p>
            <p>
            <div>
                <% if(pizza.big_size&&pizza.small_size) { %>
                <div class="btn-group-vertical text-center" role="group">
                    <div><img src="assets/images/size-icon.svg"> <span><%= pizza.small_size.size %></span></div>
                    <div><img src="assets/images/weight.svg"> <span><%= pizza.small_size.weight %></span></div>
                    <h2><%= pizza.small_size.price %></h2>
                    <h5>грн.</h5>
                    <!--<span>-->
                    <button type="button" class="btn btn-primary buy-small">Купити</button>
                        <!--</span>-->
                </div>
                <div class="btn-group-vertical text-center pull-right" role="group">
                    <div><img src="assets/images/size-icon.svg"> <span><%= pizza.big_size.size %></span></div>
                    <div><img src="assets/images/weight.svg"> <span><%= pizza.big_size.weight %></span></div>
                    <h2><%= pizza.big_size.price %></h2>
                    <h5>грн.</h5>
                    <!--<span>-->
                    <button type="button" class="btn btn-primary buy-big">Купити</button>
                    <!--</span>-->
                </div>
                <% } else if(pizza.big_size) {%>
                <div class="btn-group-vertical text-center center-block" role="group">
                    <div><img src="assets/images/size-icon.svg"> <span><%= pizza.big_size.size %></span></div>
                    <div><img src="assets/images/weight.svg"> <span><%= pizza.big_size.weight %></span></div>
                    <h2><%= pizza.big_size.price %></h2>
                    <h5>грн.</h5>
                    <span>
                    <button type="button" class="btn btn-primary buy-big">Купити</button>
                        </span>
                </div>
                <% }else{%>
                <div class="btn-group-vertical text-center center-block" role="group">
                    <div><img src="assets/images/size-icon.svg"> <span><%= pizza.small_size.size %></span></div>
                    <div><img src="assets/images/weight.svg"> <span><%= pizza.small_size.weight %></span></div>
                    <h2><%= pizza.small_size.price %></h2>
                    <h5>грн.</h5>
                    <span>
                    <button type="button" class="btn btn-primary buy-small">Купити</button>
                        </span>
                </div>
                <% } %>
            </div>
            </p>
        </div>
    </div>
</div>